<form [formGroup]="myForm">
    Value: {{ myForm.value | json }}

    <hr>

    <mat-form-field>

        <input matInput placeholder="Product ID" formControlName="productId">

    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Product Name" formControlName="name" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let product of filteredOptions | async" [value]="product">
              {{product}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cost Price" formControlName="costPrice">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Product Selling Price" formControlName="price">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Product Quantity" formControlName="stock">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createProduct()">Create Product</button>
    <button mat-raised-button color="primary" (click)="updateProduct()">Update Product</button>

</form>