<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="tile" routerLink="/pos">
      <mat-card class="dashboardCard">
        <div>
          <img src="../../../assets/img/pos.png" alt="pos">
        </div>
        <h1>Point of Sale</h1>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="tile" routerLink="/inventory">
      <mat-card class="dashboardCard2">
        <div>
          <img src="../../../assets/img/inventory-blue.png" alt="pos">
        </div>
        <h1>Inventory</h1>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile class="tile" routerLink="/transactions">
      <mat-card class="dashboardCard2">
        <div>
          <img src="../../../assets/img/transactions-blue.png" alt="pos">
        </div>
        <h1>Transactions</h1>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="tile" routerLink="/">
      <mat-card class="dashboardCard">
        <div>
          <img src="../../../assets/img/account.png" alt="pos">
        </div>
        <h1>Account</h1>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>