<mat-nav-list>
    <mat-card class="example-card mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title id="username">{{ username }}</mat-card-title>
            <mat-card-subtitle id="type">{{ type }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">View Inventory</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/stock-management">Manage Stock</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pos">Point Of Sale</a>


    <mat-divider></mat-divider>

    <h2 matSubheader> Manager Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>tune</mat-icon>
        Global Settings
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>