<mat-nav-list>
    <mat-card class="example-card mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title id="username">{{ username }}</mat-card-title>
            <mat-card-subtitle id="type">{{ type }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon [ngStyle]="{'color':'#3f51b5'}">dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pos">
        <mat-icon [ngStyle]="{'color':'#3f51b5'}">point_of_sale</mat-icon>Point Of Sale
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">
        <mat-icon [ngStyle]="{'color':'#3f51b5'}">inbox</mat-icon>Inventory
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/transactions">
        <mat-icon [ngStyle]="{'color':'#3f51b5'}">attach_money</mat-icon>Transactions
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/stock-management" *ngIf="authService.loggedIn() && authService.getUserType()!=='Sales'">
        <mat-icon [ngStyle]="{'color':'#3f51b5'}">add</mat-icon>Manage Stock
    </a>


    <mat-divider></mat-divider>
    <br>
    <div *ngIf="authService.loggedIn() && authService.getUserType()==='Manager'">
        <h2 matSubheader > Manager Tools</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
            <mat-icon [ngStyle]="{'color':'#3f51b5'}">tune</mat-icon>
            Global Settings
        </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
            <mat-icon [ngStyle]="{'color':'#3f51b5'}">people</mat-icon>
            Users
        </a>
    </div>

</mat-nav-list>