<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card id="loginFail" *ngIf="showErrorMessage">Error. Please Check Username or Password</mat-card>
    <br>
    <form [formGroup]="loginUserData" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="username" required type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="password">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginUserData.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card> 