.login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
}

.mat-form-field{
    width:100% !important;
}

.mat-card {
    text-align: center;
}

.mat-card-header {
    justify-content: center;
}

#loginFail {
    background-color: red;
    color: white;
}
