<mat-grid-list cols="5" rowHeight="1.7:1">
    <mat-grid-tile colspan="4" rowspan="3">
        <div class='internalMatGrid'>
            <mat-card class="card">
                <mat-grid-list cols="5" rowHeight="2:1" [gutterSize]="0">
                    <form [formGroup]="itemsForm">
                        <div formArrayName="products">
                            <div *ngFor="let product of productForms.controls; let i=index" [formGroupName]="i">
                                <mat-grid-tile colspan="2">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="name">
                                        <mat-label>Name</mat-label>
                                    </mat-form-field>
                                </mat-grid-tile>
                
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="price" type="number">
                                        <mat-label>Price</mat-label>
                                    </mat-form-field>
                                </mat-grid-tile>
                
                                <mat-grid-tile>
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="quantity" type="number" (ngModelChange)="calculatePrice(i)">
                                        <mat-label>Quantity</mat-label>
                                    </mat-form-field>
                                </mat-grid-tile>
                                
                                <mat-grid-tile>
                                    <button mat-raised-button color="warn" (click)="deleteProduct(i)">Remove</button>
                                </mat-grid-tile>
                            </div>
                        </div>
                    </form>
                </mat-grid-list>
            </mat-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="4">
        <div class="internalMatGrid">
            <mat-card id="card">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [disabled]="!activeTransaction">
                    <mat-label>Item Name</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [disabled]="!activeTransaction" #focus [ngModel]="" (ngModelChange)="autoCompleteID($event)">
                    <mat-label>Item ID</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <button [disabled]="!activeTransaction" mat-raised-button color="primary" (click)="addProduct()" class="w-100 sidebutton">Manually Add Product</button>

                <button [disabled]="!activeTransaction" mat-raised-button color="warn" (click)="clearAllProducts()" class="w-100 sidebutton">Clear All Products</button>

                <button [disabled]="!activeTransaction" mat-raised-button color="warn" (click)="cancelTransaction()" class="w-100 sidebutton">Cancel Transaction</button>

                <button [disabled]="activeTransaction" mat-raised-button color="primary" class="w-100 sidebutton" (click)="newTransaction()">New Transaction</button>

                <button [disabled]="!activeTransaction" mat-raised-button color="primary" class="w-100 sidebutton">Complete Transaction</button>    
            </mat-card>
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
        <div class="internalMatGrid">
            <mat-card id="card">
                <h2>Total: ${{totalPrice}}</h2>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>